.container {
  width: $sm;
  margin: 0 auto;

  @media screen and (min-width: $md) {
    width: $md;
    margin: 0 auto;
  }

  @media screen and (min-width: $xl) {
    width: $xl;
    margin: 0 auto;
  }

  @media screen and (min-width: $max) {
    width: 90%;
    margin: 0 auto;
  }
}
